<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head> 
<body>
    <header>
        <h1> <a href=" #"> <img src="~/Images/logo.png" alt=" Cinderella and Company" /><a/></h1>
        <nav>
            <ul>
                <li><a href="#"> Home </a></li> 
                <li><a href="#"> Packages </a></li>
                <li><a href="#"> Gallery </a></li>
                <li><a href="#"> About Us </a></li>

            </ul> 
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>

    </footer>
   
</body>
</html>
